.navwrapper {
  border: 1px solid black;
}
.navwrapperright {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
}

.navwrapperleft {
  display: flex;
}

.list {
  padding: 0.2em;
  margin-left: 0.2em;
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.form {
  border: 1px solid black;
  width: 30%;
  margin: auto;
  padding: auto;
}
.input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
}
